body{
	font-family: arial;
}
h1{
	background-color: gray;
	font-family: arial;
	color: white;
}
h2{
	text-decoration: underline;
}
ul#Set_Paragraph_Width { /*Sets the paragraph width of any elements within a ul tag with the id of "Set_Paragraph_Width"*/
	width: 450px;
}
ul#Relative_Move{
	position: relative;
	left: 100px;
}
h2#Absolute_Move{
	position: absolute;
	top: 600px;
	left: 500px;
	width: 250px;
}
h2#Set_Fixed_Position{
	position: fixed;
}
ul#Add_Margin{
	margin-top: 100px;
}
#Overlap_Relative{
	position: relative;
	top: 90px;
	width: 450px;
}
#Set_Z{
	position: fixed;
	padding: 10px;
	z-index: 10;
	background-color: gray;
}
#Float_Heading{
	float: left;
	width: 250px;
	margin-right: 25px;/*Gave the float element a margin to make the text move around it in a readable format.*/
}
#Float_Side{
	width: 230px;
	float: left;
	margin: 5px;
	padding: 5px;
	background-color: #efefef;
}
#Float_Clear{
	width: 230px;
	float: left;
	margin: 5px;
	padding: 5px;
	background-color: #efefef;
		
	clear: both;/*All elements in this example have thier clear set to both, this puts them in a vertical line as they cannotg have any elements touching thier left or right side.*/
}