h1{
	color: rgb(255,0,0);
	font-family: arial;
}
div.Dimensions{
	height: 300px;
	width: 400px;
	background-color: #ee3e80;
}
p.Dimensions{
	height: 75%;
	width: 75%;
	background-color: #e1ddda;
}
td.RandomParagraph{
	min-width: 450px;
	max-width: 650px;
	text-align: left;
	padding: 5px;/*This assigns space around the content.*/
	margin: 0px;
}
p.Hidden{
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
}
p.Scroll{
	max-width: 100px;
	max-height: 100px;/*Sets the max height of the box that the text is in.*/
	overflow: scroll;
}
#Border{
	border-style: solid;/*General Border style is solid.*/
	border-top-style: dotted;/*Top border specifically set to dotted.*/
	
	border-color: red;
	border-left-color: blue;
	
	border-width: 1px 4px 12px 4px;
}
#Shorthand{
	width: 400px;
	border: 3px solid green;/*Creatss a border 3 pixels wide, which is solid and is colored green.*/
}
#Padding{
	border-style: solid;
	border-color: red;
	width: 400px;
	padding: 15px;/*Seperate the words 15px all around from the border.*/
}
.margin{
	border: 2px solid blue;
	width: 400px;
}
#centerbox.margin{
	width: 400px;
	margin: 10px auto 10px auto;/*margin order goes top, right, bottom, left. Right and Left are auto, this centers the box due to equal margin size on each side.*/
}
#addmargin.margin {/*Applies style to the element with the ID of "addmargin" with the class of "margin"*/
	margin: 30px;
}
#display > li{
	font-family: arial;
	font-weight: bold;
	color: red;
	margin-right: 10px;
	
	
	display: inline;/*Sets any li elements within the id of display to act like inline elements (on the same line)*/
}
#display .coming-soon{/*Allows acces to the class "coming-sonn" in the id tag of "display"*/
	display: none;/*Sets the element with the class of "coming-soon" to "none" which means it is hidden.*/
}

