body{
	font-family: arial;
	background-image: url("Images/Background.gif");
}
h1{
	color: white;
	background: rgb(153, 204, 255);	
}
div#Contents{
	border: 1px solid black;
}
ul{
	list-style-type: square;
}
img.large{
	width: 200px;
	height: 200px;
}
img.medium{
	width: 150px;
	height: 150px;
}
img.small{
	width: 100px;
	height: 100px;
}
img.align-left{
	float: left;
}
img.center-image{
	display: block;
	margin: 0px auto;
}

