body{
	font-family: arial;/*This is using the "font-family" command to set all of the text inside the <body> tags to arial.*/
	font-size: 1em;/*Using the ems method (setting size based on the size of the 'm' character, sets the body text to 1 em)*/
}
#fontsize{
	font-size: 32px;/*Sets the font size of elements within the tag with the "fontsize" id*/
}
@font-face {
    font-family: 'aaarghnormal';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aaargh-webfont.woff') format('woff'),
         url('Aaargh-webfont.ttf') format('truetype'),
         url('Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
h2{
	color: green;/*Sets the color of all <h2> tags to green.*/
	font-size: 150%;/*Sets the fond size to 150% of regular size, just doing this to show what tags you can use.*/
	font-family: aaarghnormal;
}
#normal{
	font-weight: normal;/*Sets the text to normal using the font-weight property. This is used if the whole text was bold and you wanted to get rid of the bold setting on a certain peice of text.*/
}
#normalstyle{
	font-style: normal;/*Sets the text to normal using the font-weight property. This is used if the whole text was bold and you wanted to get rid of the bold setting on a certain peice of text.*/
}
#bold{
	font-weight: bold;/*Sets the text to bold using the font-weight property.*/
}
#italic{
	font-style: italic;/*Using the font-style property, sets the font style to italic*/
}
#oblique{
	font-style: oblique;/*Using the font-style property, sets the font style to oblique*/
}
#uppercase{
	text-transform: uppercase;/*Sets any text with the id of "uppercase" to uppercase letters.*/
}
#lowercase{
	text-transform: lowercase;/*Sets any text with the id of "lower" to lowercase letters.*/
}
#capitalize{
	text-transform: capitalize;/*Sets any text with the id of "capitalize" to have upper case first letters.*/
}
#none{
	text-decoration: none;/*Removes any text-decoration currently applied to the text, or sets it so that it cant have a decoration applied to it.*/
}
#underline{
	text-decoration: underline;/*Underlines the specified text.*/
}
#overline{
	text-decoration: overline;/*Overlines the specified text*/
}
#linethrough{
	text-decoration: line-through;/*Put a line through text*/
}
#leading{
	line-height: 1.4em;/*Sets the gaps between lines of text.*/
}
#letterspace{
	letter-spacing: 0.3em;/*Sets the space between letters.*/
}
#wordspacing{
	word-spacing: 1.3em;/*Sets the space between words.*/
}
#left{
	text-align: left;
}
#right{
	text-align: right;
}
#center{
	text-align: center;
}
#justify{
	text-align: justify;
}





